.css-14b29qc {
    display: none !important;
}

.css-1bzq5ag {
    display: none !important;
}

.css-1beylcr {
    display: none !important;
}

.css-k3zp98 {
    justify-content: center !important;
    font-size: 25px !important;
}

.css-1bqwt78 {
    justify-content: center !important;
}